.App {
  display: flex;

}

.visible{
  display: block !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(108, 104, 104, 0.5);
}


@media (min-width: 1150px) {
 .header{
  display: none !important;
 }
.visible{

  left: 0;
  right :100%;
}
}